
  .section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    color:var(--black-text-color);
       }
    
    //   .compani-icon__link {
    // width: 170px;
    // height: 92px;
    // border: 1px solid #AFB1B8;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // fill: #ffffff;
    // transition: border 250ms var(--timing-function);
    // &:hover,
    // &:focus {
    //   border: 1px solid #2196f3;
      
    //   }
    //   }
    
    // .compani-soc__icon {
    // fill: #AFB1B8;
    // transition: fill 250ms var(--timing-function);
    // .compani-icon__link:hover & ,
    // .compani-icon__link:focus & {
    //   fill: var(--accent-text-color);
    // }
    // }
   
   
    //  .compani-icon__list {
    //   display: flex;
    //   justify-content: center;
    // } 
    // .compani-icon__item  + .compani-icon__item {
    //   margin-left: 30px;
    
    // }
    // .compani-icon-item {
    //   & + & {
    //    margin-left: 30px;
    //   }
    // }
    // .compani-icon__link.current {
    //   background-color: var(--accent-text-color);
    //   color: var(--primary-bg-color);
    // }