
      .compani-icon-list__link {
        width: 170px;
        height: 92px;
        border: 1px solid #AFB1B8;
        display: flex;
        justify-content: center;
        align-items: center;
        fill: #ffffff;
        transition: border 250ms var(--timing-function);
        &:hover,
        &:focus {
          border: 1px solid #2196f3;
          
          }
          }
        
        .compani-icon-list__soc {
        fill: #AFB1B8;
        transition: fill 250ms var(--timing-function);
        .compani-icon-list__link:hover & ,
        .compani-icon-list__link:focus & {
          fill: var(--accent-text-color);
        }
        }
       
       
         .compani-icon-list {
          display: flex;
          justify-content: center;
        } 
        .compani-icon-list__item  + .compani-icon-list__item {
          margin-left: 30px;
        
        }
        // .compani-icon-item {
        //   & + & {
        //    margin-left: 30px;
        //   }
        // }
        .compani-icon-list__link.current {
          background-color: var(--accent-text-color);
          color: var(--primary-bg-color);
        }