:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-text-color: #2196f3;
    --primary-bg-color: #ffffff;
    --black-text-color: #000000;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }